.main-tasks {
  .main-task-content {
    display: flex;
    margin-top: 40px;
  }
  .image {
    margin-right: 30px;
    min-width: 120px;
    background-size: auto;
    background-position: unset;
  }
}