.post {
  display: flex;
  height: fit-content;
  margin: 0 0 120px 0;
  .post-content {
      display: flex;
      flex-direction: column;
      .text-header {
          color: #BDBDBD;
          line-height: 64px;
          font-size: 64px;
      }
  }
}