.slider-post {
  position: relative;
  flex: 6 0 770px;
  & .post-image {
    height: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    animation-duration: 3s;
    animation-name: appearance;
    transition: background-image 1s ease-in-out;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
