.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;

  .siteLogo {
    min-width: 70px;
    min-height: 44px;
    height: 64%;
  }

  .menu {
    li {
      &:first-child {
        border-top: gray solid 1px;
        border-bottom: gray solid 1px;
      }
    }
  }
}

