.checkbox_with_text {
  margin-bottom:21px;
  position: relative;

  &:hover input[type="checkbox"] ~ .checkmark {
    background-color: #ccc;
  }

  input[type="checkbox"] ~ .checkmark:after {
    display: none;
  }

  input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
  }

  input[type="checkbox"]:checked ~ .checkmark {
    background: #F3F3F3;
  }

  .checkmark {
    position: absolute; 
    left: 0;
    top: 0; 
    width: 24px;
    height: 24px;
    background: #F3F3F3;
    border-radius: 4px;

    &.error {
      border: 1px red solid;
    }

    &::after {
      content: ' ';
      position: relative;
      left: 10px;
      top: 6px;
      width: 5px;
      height: 10px;
      border: solid #333333;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  p {
    position: relative;
    width: 331px;
    left: 40px;
  }
}
