.slider {
    display: flex;
    flex-direction: column;
    height: 829px;
    flex-wrap: wrap;
    align-content: space-between;
}

.slider .slide-button {
    width: 54px;
    height: 54px;
}

.button-image:active {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.slider-header {
    margin: 336px 69px 90px 0;
}

.slider-switch {
    width: 130px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.slide-number-pad {
    width: 142px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.slide-number {
    color: #BDBDBD;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
}

.divide-icon {
    width: 42px;
}

.slider-post {
    width: 770px;
    height: 829px;
    position: relative;
}

.slider-post .post-image {
    height: 829px;
    position: relative;
    background-size: cover;
    display: flex;
}

.post {
    display: flex;
    height: fit-content;
    margin: 30px 0 120px 0;
}

.post .post__cover div:first-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 475px;
    width: 670px;
} 

.post .post__entity {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.post .post__entity .text-header {
    color: #BDBDBD;
    line-height: 64px;
    font-size: 64px;
}

.post .post__cover .image {
  margin: 30px 30px 0 0;
}
/* post block about-company */
.about-company { 
  background: #FBFBFB;
}

.about-company .text-block {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}
/* post block main-tasks */
.main-tasks .inner-content {
  display: flex;
  margin-top: 40px;
}

.main-tasks .image {
  margin-right: 30px;
  min-width: 120px;
}

.main-tasks .text-block {
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  padding-right: 20px;
}
/* post block main-tasks */
.our-projects .inner-content {
  display: flex;
  flex-wrap: wrap;
}

.our-projects .button__open-post {
  background: #333333;
  color:white;
  margin-left: auto;
}

.our-projects .button__open-post .icon  {
  background: url(../resource/img/arrow-right_white.svg) center no-repeat;
}

.our-projects .image{
  margin: 0 30px 30px 0;
}

/* post block contact-us */
.contact-us .inner-content {
  display: flex;
  flex-direction: row;
}

.contact-us .inner-content form {
  display: flex;
  flex-direction: column;
}

.contact-us .inner-content .image {
  margin-left: 30px;
}

.contact-us .inner-content .input-message {
  min-height: 147px;
}

.contact-us .button__open-post {
  background: #333333;
  color:white;
  margin-right: auto;
}

.contact-us .button__open-post .icon  {
  background: url(../resource/img/arrow-right_white.svg) center no-repeat;
}