.header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.header .menu {
    margin-right: 74px;
}

.header .menu li {
    display: inline-block;
    margin-right: 60px;
}