.main {
    display: grid;
    grid-template-rows: 102px 1fr 417px;
    grid-template-columns: 135px 1fr 135px;
    grid-template-areas: " . header  ."
                         " . content ."
                         "footer footer footer";
}

a {
    text-decoration: none;
    color: #333333;
    margin: 0;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

ul {
    list-style-type: none;
}

button {
  cursor: pointer;
}

.button-image .icon {
  background: url(../resource/img/arrow-right.svg) center no-repeat;
}

.button__open-post {
    width: 222px;
    height: 71px;
    background: white;
    margin-top: auto;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .button-dark {
  background: #333333;
  color: white;
} */

.button__open-post .icon{
    width: 24px;
    height: 24px;
    margin-left: 12px;

}

.block {
  margin-bottom: 120px;
}

input[type='text'] {
  height: 46px;
  min-width: 391px;
  background: #F3F3F3;
  color: #8D8D8D;
  margin-bottom: 10px;
  border: 0;
  padding-left: 21px;
  font-size: 14px;
  line-height: 17px;
}
